* nav ul {


    list-style: none;
}

h2 {
    text-shadow: 2px 2px 5px rgb(113, 166, 229);
    ;
}

main {
    text-align: center;
}

header h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;

}

a {
    text-decoration: none;
    color: darkblue;

}

body {
    background: linear-gradient(to bottom, white, rgb(0, 123, 255));

}



header h2 {
    margin-top: -30px;
    ;
}


nav ul li {
    background-color: white;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
}



#about h3 {
    background-color: white;
    padding: 5px;
}

form {
    background-color: white;
    padding: 100px;
    text-align: center;

}

input {
    box-shadow: 3px 3px#e1e1ff;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid blue;

}

textarea {
    border-radius: 5px;
    border: 2px solid blue;
}



button {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 15px;


}






button:hover {
    background: #007bff;
    transition: 2s;

}

#nav-menu {
    background: radial-gradient(to right, white rgb(0, 60, 255));
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}


/* mobile screens */
@media (max-width: 768px) {

    header h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    header h2 {
        font-size: 1rem;
        text-align: left;
        display: none;
    }

    nav {
        margin-top: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        text-align: left;
        padding: 10px;
    }

    form {
        padding: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    input {
        box-shadow: 3px 3px#e1e1ff;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 2px solid blue;

    }

    textarea {
        border-radius: 5px;
        border: 2px solid blue;
        width: 250px;
    }

    button {
        width: 100%;
        border-radius: 5px;
        ;
    }

}

/* for tablet screens */
@media (min-width: 769px) and (max-width: 1024px) {

    header h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    main {
        text-align: left;
        padding: 15px;
    }


}

/* for laptop screens */
@media (min-width: 1025px) {


    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }





    header h1 {
        margin-bottom: 30px;
    }


}